{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-3">
        <h3>{{ user.username }}'s Profile</h3>
        <div>
            <h4 class="headline-intro-text mt-4">Here you can update your profile information:</h4>
        </div>
        <hr>    
        <div class="profile-info">
            
            {% if user_profile.profile_pic %}
            <img 
                src="{{ user_profile.profile_pic.url }}" width="200" height="200" 
                alt="Profile Picture">
            {% else %}
            <img 
                src="{% static 'images/default_profile_pic.jpg' %}" width="200" height="200" 
                alt="Default Profile Picture">
            {% endif %}
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}