{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<section id="hero">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item bg-setup active carousel-bg-1 carousel-bg-1-mobile">
                <div class="container">
                    <div class="overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2>Activities for Children</h2>
                        <p>Make memories with your kids</p>
                        <p><a class="btn btn-lg btn-primary mt-4" href="#content" aria-label="Go to the content home section">Explore</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-setup carousel-bg-2 carousel-bg-2-mobile">
                <div class="container">
                    <div class="overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2>Play Ideas for children</h2>
                        <p>Get and share ideas of activities!!</p>
                        <p><a class="btn btn-lg btn-primary mt-4" href="#content" aria-label="Go to the content home section">Explore</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-setup carousel-bg-3 carousel-bg-3-mobile">
                <div class="container">
                    <div class="overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2>Play with your child</h2>
                        <p>Indoor and Outdoor activities ideas!</p>
                        <p><a class="btn btn-lg btn-primary mt-4" href="#content" aria-label="Go to the content home section">Explore</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- End of Hero Section -->

 <!-- Blog Entries Section-->
 <section id="content" class="content">
    <h2 class="title text-uppercase">Play Ideas</h2>
 <div class="col-12 mt-3 left">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" 
                            src="https://res.cloudinary.com/duexvmpkh/image/upload/v1687261323/Untitled_design_13_lgmmgg.jpg"
                            alt = "children playing with blocks">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}"
                        alt = "children playing">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <hr>
                    <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>

{% if is_paginated %}
<nav aria-label="Page navigation">
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
</ul>
</nav>

{% endif %}
</section>
<!-- End of Blog Entries Section -->
<hr>
<!-- Section About -->
<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/about_image.jpg' %}" class="img-fluid" alt="About Image">
            </div>
            <div class="col-md-6">
                <div class="about-content">
                    <h2 class="title text-uppercase">About Us</h2>
                    <p>Its4kids blog was created by a mum of two children who lives in Ireland, a rainy country.</p>
                    <p>She wanted to provide great activities to entertain her children and came up with the idea
                    of concentrating these play ideas in a blog for parents and educators.</p>
                    <p>The goal is to create quality time with children and make lasting memories.</p>     
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About Section -->

{%endblock%}