{% extends "base.html" %}

{% block content %}

<!-- HERO SECTION -->
<section id="hero">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item bg-setup active carousel-bg-1 carousel-bg-1-mobile">
                <div class="container">
                    <div class="overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2>Activities for Children</h2>
                        <p>Make memories with your kids</p>
                        <p><a class="btn btn-lg btn-primary mt-4" href="#" aria-label="Go to the content home section">Explore</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-setup carousel-bg-2 carousel-bg-2-mobile">
                <div class="container">
                    <div class="overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2 class="">Play Ideas for children</h2>
                        <p>Get and share ideas of activities!!</p>
                        <p><a class="btn btn-lg btn-primary mt-4" href="#" aria-label="Go to the content home section">Explore</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item bg-setup carousel-bg-3 carousel-bg-3-mobile">
                <div class="container">
                    <div class="overlay"></div>
                    <div class="carousel-caption text-start">
                        <h2>Play with your child</h2>
                        <p>Indoor and Outdoor activities ideas!</p>
                        <p><a class="btn btn-lg btn-primary mt-4" href="#" aria-label="Go to the content home section">Explore</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
</div>
<!-- END OF HERO SECTION -->

 <!-- Blog Entries Column -->
 <div class="col-12 mt-3 left">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top"
                            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="#" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <hr />
                    <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
<ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
</ul>
</nav>
{% endif %}
</div>



{%endblock%}