{% extends "base.html" %} 
{% load static %}

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Update the Activity for children ...</h1>
            <p>Here you can the activity you posted!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2"> 
           <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            
        <button class= "btn btn-secondary">Update</button>
    </form>

{%endblock%}